:root {
  --background-base: #fff5e0;
  --background-card: #f7f2e9;
  --background-dark: #1e3231;
  --background-light: #fff2d7;
  --background-secondary: #f0e5d3;
  --white: #ffffff;
  --off-white: #fbf9f6;
  --brown-dark: #95663d;
  --brown-main: #ce9461;
  --gold-rate: #ffc62a;
  --grey: #eeeeee;
  --grey-dark: #a4a09d;
  --black: #000000;
  --text-dark: #252525;
  --yellow-light: #eedebc;
  --red: #b70404;
  --brown: #3e1f04;
  --icon-background: #f3f3f3;
}
