.banners__section {
  overflow: hidden;
  white-space: nowrap;
}

.banners__section .banners__track {
  display: flex;
  width: fit-content;
  animation: marquee-scroll 10s linear infinite;
  gap: 90vw;
}

.banners__section .banners__track .banners__group {
  display: flex;
  gap: 60px;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}

@media screen and (max-width: 768px) {
  .banners__section {
    padding: 24px 0;
    margin-top: 14px;
  }
  .banners__section img {
    aspect-ratio: 8 / 1;
    max-width: 110px;
  }
  .banners__section .banners__track {
    display: flex;
    width: fit-content;
    animation: marquee-scroll 20s linear infinite;
    gap: 46px;
  }

  .banners__section .banners__track .banners__group {
    display: flex;
    gap: 23px;
  }
}
