.hero__section {
  padding: 38px 0 27px 0;
  background-color: var(--background-dark);
  position: relative;
  overflow: hidden;
}

.hero__section .float__flower {
  position: absolute;
  z-index: 1;
}

.hero__section .float__flower.bottom__flower {
  left: 0;
  bottom: 0;
  opacity: 40%;
}

.hero__section .float__flower.top__flower {
  opacity: 10%;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.hero__section .hero__container {
  position: relative;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .hero__section {
    padding: 0;
  }
  .hero__section .hero__container {
    padding-top: 17px;
    padding-bottom: 24px;
    margin-top: 17px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .hero__section .float__flower.bottom__flower {
    left: -24px;
    bottom: 0;
    width: 175px;
    height: 219px;
  }
  .hero__section .float__flower.top__flower {
    top: 20px;
    right: -60px;
    opacity: 40%;
    transform: unset;
  }
}
.hero__section .hero__container .float__img {
  position: absolute;
  z-index: 3;
}
.hero__section .hero__container .float__img.bottom__img {
  bottom: 30px;
  left: 0;
}
.hero__section .hero__container .float__img.top__img {
  top: 3px;
  left: 80px;
}

@media screen and (max-width: 768px) {
  .hero__section .hero__container .float__img.bottom__img {
    bottom: 86px;
    left: 24px;
    width: 72px;
    height: 77px;
  }
  .hero__section .hero__container .float__img.top__img {
    width: 58px;
    height: 50px;
    top: unset;
    bottom: 88px;
    left: 112px;
  }
}

.hero__section .section__image {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.hero__section .section__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.5px solid var(--off-white);
  right: -16px;
  top: -11px;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
}
.hero__section .section__image img {
  position: relative;
}
.hero__section .image__star {
  position: absolute;
  width: 787px;
  right: 90px;
  top: 0;
}

.hero__section .image__star .white__star {
  animation: scale 6s linear infinite;
}

@media screen and (max-width: 768px) {
  .hero__section .section__image {
    width: 100%;
    height: unset;
    position: relative;
    padding: 0 22px;
  }
  .hero__section .section__image::before {
    width: calc(100% - 44px);
    right: 8px;
    top: -12px;
  }
  .hero__section .section__image img {
    aspect-ratio: 1 / 1;
    width: 100%;
  }
  .hero__section .image__star {
    position: absolute;
    width: fit-content;
    right: unset;
    left: 30px;
    top: 0;
  }

  .hero__section .image__star .white__star {
    display: none;
  }
  .hero__section .image__star .brown__star {
    width: 21.27px;
    height: 19.27px;
    margin: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.15);
  }
  100% {
    transform: scale(1);
  }
}

.hero__section .section__content .white__background {
  position: relative;
  color: var(--background-dark);
  width: fit-content;
  display: inline-block;
}
.hero__section .section__content .white__background .mark__text {
  position: relative;
  z-index: 9;
}
.hero__section .section__content .mark__overlay {
  position: absolute;
  width: 100%;
  height: 44px;
  background-color: var(--background-base);
  left: 0;
  top: 18px;
}

.hero__section .section__content .explore__more {
  padding: 7px 16px 7px 8px;
  border: 1px solid var(--background-base);
  border-radius: 41px;
  margin-top: 50px;
  cursor: pointer;
}

.hero__section .section__content .explore__more:hover svg {
  transform: rotate(180deg);
}

.hero__section .section__content .explore__more svg {
  transition: 0.3s linear;
}

@media screen and (max-width: 768px) {
  .hero__section .section__content {
    padding: 0;
  }
  .hero__section .section__content .hide__line {
    display: none;
  }
  .hero__section .section__content p:first-child {
    font-size: 1.25rem;
  }
  .hero__section .section__content h2:nth-child(2) {
    font-size: 28px;
    line-height: 52px;
  }
  .hero__section .section__content .mark__overlay {
    height: 30px;
    top: 13px;
  }
  .hero__section .section__content p:nth-child(3) {
    font-size: 14px;
    line-height: 24px;
    margin-top: 3px;
  }
  .hero__section .section__content .explore__more {
    padding: 4px 9px 6.25px 4.5px;
    border-radius: 23.43px;
    margin-top: 71px;
  }
  .hero__section .section__content .explore__more span:first-child {
    font-size: 12.75px;
    line-height: 35.3px;
  }
  .hero__section .section__content .explore__more div:nth-child(2) {
    width: 24px;
    height: 24px;
  }
  .hero__section .section__content .explore__more div:nth-child(2) svg {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 768px) {
  .indicators {
    margin-top: 11.7px;
  }
  .indicators span:nth-child(2){
    font-size: 20px;
    line-height: 55.5px;
  }
}
