.product__section .section__header .header__line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--brown);
  opacity: 24%;
}

.product__section .products__container .product__card {
  padding: 10px;
  background-color: var(--background-card);
  border-radius: 0.75rem;
  max-width: 300px;
}
.product__section .products__container .product__card .product__image {
  position: relative;
}
.product__section
  .products__container
  .product__card
  .product__image
  .primary__image,
.product__section
  .products__container
  .product__card
  .product__image
  .secondary__image {
  transition: 0.3s linear;
}
.product__section
  .products__container
  .product__card
  .product__image
  .primary__image {
  position: relative;
  z-index: 4;
}
.product__section
  .products__container
  .product__card
  .product__image:hover
  .primary__image {
  opacity: 0;
}
.product__section
  .products__container
  .product__card
  .product__image
  .secondary__image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}
.product__section
  .products__container
  .product__card
  .product__image:hover
  .secondary__image {
  transform: scale(1.05);
}
.product__section .products__container .product__card .product__image img {
  aspect-ratio: auto;
  width: 100%;
}
.product__section
  .products__container
  .product__card
  .product__image
  .heart__icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--icon-background);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__section
  .products__container
  .product__card
  .product__image
  .heart__icon.active
  svg
  path {
  fill: red;
  transition: 0.3s linear;
}

@media screen and (max-width: 1023px) {
  .product__section {
    padding: 40px 0;
  }
  .product__section .products__container {
    gap: 15px;
  }
  .product__section .products__container .product__card {
    margin: 0 auto;
  }
  .product__section
    .products__container
    .product__card
    .product__details
    .product__header
    p {
    font-size: 12px;
    line-height: 18px;
  }
  .product__section
    .products__container
    .product__card
    .product__details
    .product__header
    .product__rate
    svg {
    width: 12px;
    height: 12px;
  }
  .product__section .products__container .product__card .product__details h3 {
    font-size: 16px;
    line-height: 18px;
  }
  .product__section
    .products__container
    .product__card
    .product__details
    .prices
    p {
    font-size: 14px;
    line-height: 18px;
  }
  .product__section
    .products__container
    .product__card
    .product__details
    .prices
    del {
    font-size: 12px;
    line-height: 18px;
  }
  .product__section
    .products__container
    .product__card
    .product__image
    .heart__icon {
    width: 24px;
    height: 24px;
  }
  .product__section
    .products__container
    .product__card
    .product__image
    .heart__icon svg{
    width: 12px;
    height: 10px;
  }
}

.images__text {
  text-align: center;
  font-size: 48px;
  line-height: 78px;
  color: var(--dark-text);
}
.images__text img {
  display: inline-block;
}
@media screen and (max-width: 1023px) {
  .images__text {
    margin: 0 4px;
    margin-top: 40px;
    font-size: 20px;
    line-height: 32px;
  }

  .images__text img {
    width: 42px;
    height: 21px;
  }
}
