@import "variables/colors.css";
@import "variables/fonts.css";
@import "components/header.css";
@import "components/sidebar.css";
@import "components/hero.css";


body {
  font-family: "Harmattan", sans-serif;
}


.global__container{
  max-width: 1200px;
}

@media screen and (max-width: 768px) {
  .global__container {
    width: 100%;
    padding: 0 1rem;
  }
  
}