@import "variables/colors.css";
@import "variables/fonts.css";
@import "components/nav.css";
@import "components/header.css";
@import "components/sidebar.css";
@import "components/hero.css";
@import "components/offers.css";
@import "components/new-products.css";
@import "components/new-categories.css";
@import "components/clients-rate.css";
@import "components/latest-fashion.css";
@import "components/banners.css";
@import "components/tools-used.css";
@import "components/stats.css";
@import "components/footer.css";

*{
  box-sizing: border-box;
}

body {
  font-family: "Harmattan", sans-serif;
  background-color: var(--off-white);
}

.global__container {
  max-width: 1200px;
}

@media screen and (max-width: 1023px) {
  .global__container {
    width: 100%;
    padding: 0 1rem;
  }
}
